<!-- Main section-->
<section style="margin-left: 0">
    <!-- Page content-->
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="text-thin">500</h1>
                <p>Server error.</p>
            </div>
        </div>
    </div>
</section>
<!-- Page footer-->
<footer style="margin-left: 0">
    <span>Copyright &copy; 2015 Classwire</span>
</footer>