<h1>About ClassWire</h1>
<h2><i>Connect, Collaborate, & Learn</i></h2>

<p> Numerous social network websites have emerged that allow people to connect with others based on common friends, interests, locations, etc, without having to leave their home. Websites like Facebook, Twitter, and Instagram offer users the ability to find and form communities at a global scale. The success of these and similar websites illustrate the effectiveness of a virtual platform for making new connections and forming networks at a large scale. However, at a hyperlocal scale, no application caters towards connecting people in an academic community and allows them to share the experience together. Classwire aims to fill this gap by providing a platform for students to connect, collaborate, and learn together with their classmates. 
</p>
<br>
<strong>What problem does ClassWire solve?</strong>
<p>While in college, many students find themselves in large class lectures. These lectures can often contain several hundred students. In such large lectures, students often have difficulty connecting with other students in the class. Classwire looks to solve this problem by creating social communities formed by the students in a class. Connecting with classmates offers myriad advantages to students, including shared resources, help keeping track of assignments, support systems, friendships, networking, etc. Whether a student wants to meet other classmates to succeed in class or just to make new friends with a common interest, Classwire helps make the introduction. Users have numerous tools at their disposal to customize how they present themselves to classmates, keep track of important dates, store helpful resources, and communicate with their peers. By simply importing your class schedule, a student will be automatically added to the classes that he or she is taking along with his or her classmates. Classwire will allow students to get to know who is in their class and interact with one another in a fluid chat interface. This social community is user defined, so whether a user wants to make new friends in the class, form a study group, or just find out what the homework is, Classwire will be the “Go-To” place! </p>
<br>
<strong>Features</strong>
<ul>
<li>See who is in your classes</li>
<li>Chat with your fellow classmates</li>
<li>Collaborate, Connect, & Learn</li>
</ul>