<div id="header">  
    <button>Home</button>
    <button>Messages</button>
    <button>Profile</button>
</div>

<h1> Administrator </h1>


<h1> Reported Content </h1>


<table>
 <thead> 
        <th>Author</th> 
        <th>Explanation</th> 
        <th>Reported User</th> 
        <th>Reported Content</th> 
    </thead> 
    <tbody> 
        {{#reported}} 
        <tr> 
            <td>{{author}}</td> 
            <td>{{explanation}}</td> 
            <td>{{reportedUser}}</td> 
            <td>{{content}}</td> 
        </tr> 
        {{/reported}} 
    </tbody> 
</table>