<div id="header">  
    <button>Home</button>
    <button>Messages</button>
    <button>Profile</button>
</div>

<h1> Account Settings<h1>

<h1> email: {{email}}</h1>
<h1> password: {{password}}</h1>
<h1> university: {{university}}</h1>
<h1> two step security: {{twoStepSecurity}}</h1>


