<div id="header">
    <button id = "home_button">Home</button>
    <button id = "messages">Messages</button>
    <button id = "profile">Profile</button>
</div>

<h1> Administrator </h1>


<h1> Reported Content </h1>


<table>
 <thead> 
        <th>Author</th> 
        <th>Explanation</th> 
        <th>Reported User</th> 
        <th>Reported Content</th> 
    </thead> 
    <tbody> 
        {{#reported}} 
        <tr> 
            <td>{{author}}</td> 
            <td>{{explanation}}</td> 
            <td>{{reportedUser}}</td> 
            <td>{{content}}</td> 
        </tr> 
        {{/reported}} 
    </tbody> 
</table>

<script>
    var home_button = document.getElementById("home_button");
    home_button.onclick = function () {
        window.location.href = "/";
    };

    var messages_button = document.getElementById("messages");
    messages_button.onclick = function () {
        window.location.href = "/messages";
    };

    var profile_button = document.getElementById("profile");
    profile_button.onclick = function () {
        window.location.href = "/profile";
    };
</script>