
<div id="header">  
    <button>Home</button>
    <button>Messages</button>
    <button>Profile</button>
</div>

<h1>Home</h1>



<div class="courses">

  {{#each courses}}
    <div class="course">
      <h2>{{topic}}</h2>
    </div>
  {{/each}}

</div>

<div class="calendar">

  {{#each calendarEntries}}
    <div class="cal">
      <h2>{{entry}}</h2>
    </div>
  {{/each}}
</div>





