<div id="header">
    <button>Home</button>
    <button>Messages</button>
    <button>Profile</button>
</div>

<h1>Home</h1>

<div class="myCourses">
  {{#each courses}}
    <div class="myCourse">
      <h2>{{topic}}</h2>
    </div>
  {{/each}}
</div>

<div class="myCalendar">
  {{#each calendarEntries}}
    <div class="myCal">
      <h2>{{entry}}</h2>
    </div>
  {{/each}}
</div>

<div class="myResources">

    {{#each resourcesEntries}}
        <div class="myRes">
            <h2>{{entry}}</h2>
        </div>
    {{/each}}
</div>