<!-- Main section-->
<section style="margin-left: 0">
    <!-- Page content-->
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Welcome to ClassWire</h1>
                <h2><i>Connect, Collaborate, & Learn</i></h2>

                <p>Login or register to use this platform!</p>
            </div>
        </div>
    </div>
</section>
<!-- Page footer-->
<footer style="margin-left: 0">
    <span>Copyright &copy; 2015 Classwire</span>
</footer>