<!--<img src="img/login_wireframe.png" alt="Login Wireframe" />-->

<h1>Login</h1>

<div>{{message}}</div><br>

<form method="post" action="/auth">
    User Name: <label><input type="text" name="username"></label> <br>
    Password: <label><input type="password" name="password"></label> <br>
    <button>Login</button>
</form>