.course {
    cursor: pointer;
    cursor: hand;
    list-style-type: none}

.active {
    color: #0b97c4;
}

div.class_messages_wrapper {height: 300px; width: 50%;
    overflow-y: scroll !important;
    overflow-x:hidden;}

div.class_events{height: 300px; width: 400px;
    overflow-y: scroll !important;
    overflow-x:hidden;}

div#class_members_wrapper{height: 300px; width: 400px;
    overflow-y: scroll !important;
    overflow-x:hidden;}

.report {
    float: right;
    height: 10px;
    font-size: 10px;
}

#modal_feedback{
    padding: 5px;
}