#bio_header .btn-group { display: inline-block; }

#bio_text, #acts_text{
    resize: none;
    height: 200px;
}

#grad_text, #major_text{
    resize: none;
    height: 20px;
    width: auto;
    border: none;
}

#header, #friend_search_content {
    display: inline;
}

.friends{
    cursor: pointer;
    cursor: hand;
    list-style-type: none;
}



body {padding-left: 10px}