#bio_header .btn-group { display: inline-block; }

#bio_text, #acts_text{
    resize: none;
    height: 200px;
}

#grad_text, #major_text{
    resize: none;
    height: 20px;
    width: auto;
    vertical-align: top;
    text-align: center;
}

#major_text{
    margin-left: 70px;
}

#header, #friend_search_content {
    display: inline;
}

/*#major_div{*/
    /*float: left;*/
/*}*/

.friends{
    cursor: pointer;
    cursor: hand;
    list-style-type: none;
}



body {padding-left: 10px}